@charset "gb2312";
.mem_nav {padding:20px;max-width:700px; margin:0 auto;}
.mem_nav  span{padding:6px 12px; background:#f0f0f0; cursor:pointer; text-decoration:none;
border-top:1px solid #e3e3e3;border-left:1px solid #e3e3e3;
border-bottom:2px solid #696969;border-right:2px solid #696969;}
.mem_nav .cur{border-top:2px solid #696969;border-left:2px solid #696969;
        background:white;border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;}
.mem_nav  span:hover{text-decoration:none;}
.mem_nav  span:active{ 
border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;
border-top:2px solid #696969;border-left:2px solid #696969;}

.mem-basic td,.mem-driver td{overflow:hidden;}
.mem-basic .Hui-iconfont{background:#f0f0f0; margin-left:-12px;
  border-top:1px solid #e3e3e3;border-left:1px solid #e3e3e3;
border-bottom:1px solid #696969;border-right:1px solid #696969; cursor:pointer;}
.mem-basic .Hui-iconfont:active{border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;
border-top:1px solid #696969;border-left:1px solid #696969;}
 .mem-basic{margin-bottom:28px;margin:0 auto; width:100%;max-width:700px;}
 .mem-driver{margin-bottom:28px; margin:0 auto;  position:relative; width:100%;border:1px solid #a0a0a0;max-width:700px;}
form{margin:0 auto; width:100%;max-width:700px;}
 .driver{left:6px;top:0; position:absolute;}
.mem_title,.mem_title2{font-size:14px; line-height:16px; margin:0 10px 16px 10px; float:left; }
.mem_title{text-align:right;width:88px;}
.mem_title2{text-align:left;}
.mem_text1{width:104px; float:left;}
.mem_text2{width:164px; float:left;}
.mem_text3{width:470px; float:left;}
 .mem-basic input,.mem-driver input,.mem-driver select,.mem-basic select{
	 border:none; border-bottom:1px solid #a0a0a0;outline:none;  font-size:14px;}
	  .mem-basic input:hover, .mem-driver input:hover{border-bottom:1px solid #50b4f0;}
 .mem-basic input:focus, .mem-driver input:focus{border-bottom:1px solid #50b4f0;}
.mem-basic{vertical-align:middle; margin-bottom:22px;}

.mem_tip{float:left;font-size:14px;line-height:14px; margin:0 0 16px 10px;padding:0 6px;text-align:right; }
 
.stop_radio{border:1px solid #50b4f0; height:14px;width:14px; 
  text-align:center; float:left; cursor:pointer; border-radius:2px; background:#ffffff; }
 .stop_bg{background:url(../images/ok14.png) center center no-repeat;}
 
 .driver{background:#ffffff; margin-top:-15px;}
 
 .form_btn{text-align:right;}
 .form_btn input{ -webkit-box-shadow:inset 0 0 0 1px rgba(252,252,252,1.00);box-shadow:inset 0 0 0 1px rgba(252,252,252,1.00);background-image:-webkit-linear-gradient(-90deg, rgb(242,242,242) 0%, rgb(209,209,209)100%);
 padding:5px 12px; border-radius:4px; border:1px solid #707070; margin:13px;
 }
  .form_btn input:hover{ -webkit-box-shadow:inset 0 0 0 1px rgba(232,245,252,1.00); box-shadow:inset 0 0 0 1px rgba(232,245,252,1.00);border:1px solid #3c7fb1; background-image:-webkit-linear-gradient(-90deg, rgb(234,246,253) 0%,rgb(220,241,252)50%, rgb(167,217,245)100%);
 }
h4{text-align:center; font-weight:bold;font-size: 16px;}
h5{color:#666;text-align:center; font-weight:bold;}
.zjimg{width:20%; float:left; text-align:center; vertical-align:middle;box-sizing:border-box; }
.zjimg div{margin:5px;border:1px solid #ccc; position:relative;
-webkit-box-shadow: inset 2px 2px 2px 0 rgba(102,102,102,0.8);
	box-shadow:inset  2px 2px 2px 0 rgba(102,102,102,0.8)}
.zjimg img{width:100%; height:100%; cursor:pointer;}
.delimg{width:18px;height:18px; position:absolute; background:url(../images/icon_error_s.png) no-repeat;baccursor:pointer; color:#ccc; top:0; right:0;}

 .bigimg{width:100%;background:rgba(0,0,0,0.6); position:absolute; top:0; left:0; display:none;}
.bigimg img{width:90%;height:auto;display:block; margin:5% auto auto;}
;}

.camera{width:164px; height:100px;resize:none; border:1px solid #a0a0a0; cursor:pointer;float:left;
background:url(../images/100add.png) no-repeat center center;background-size:100px 100px;}

.overtd{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#tableExcel.bind{width: 100%; table-layout: fixed;}
/**/
.mar-l-10{
	margin-left: 10px;
}
/* 添加	permissionsAdd */
/* 编辑	permissionsEdit */
/* 删除	permissionsDel */
/* 导出	export */
/* 导入	Imported */
/* 打印 toPrint */
/* 查询明细	queryDetails */
/* 权限设置	permissionSetting */
/* 工作日志	workLog */
/* 特殊权限	supremeRight */
/* 审核功能	auditFunction */
/* 公司列表	company1 车辆明细 company2 绑定用户*/
.carDelete,.permissionsAdd,.permissionsEdit,.permissionsDel,.export,.queryDetails,.permissionSetting,.Imported,.toPrint,.workLog,.auditFunction,.company1,.company2{display: none; float: left;margin-left: 10px;}
/*表头点击排序css*/
#tableExcel th{position: relative; padding: 8px;}
.icon-span{width: 12px; line-height: 9px; height: 18px; margin-left: 2px; position: absolute; right: 4px; top: 9px; }
.icon-span .fa{float: right; cursor: default; height: 7px;}
.icon-span .fa1{color: #ccc;}
.icon-span .fa2{color:#5a98de;}
.active .fa1{color:#5a98de;}
.active .fa2{color: #ccc;}
/*end*/
/*table*/
#tableExcel .padRemovelr{
	padding: 8px 0;
}

