$highlight-color: #ccc;
html,body{
	background-color: $highlight-color;
	padding:0;
	margin: 10px;
}
#one{
	text-decoration:none
}
textarea{
	padding: 0;
}
.project{
	ul{
		overflow: hidden;
		padding: 0;
		list-style: none;
		li{
			width: 25%;
			float: left;
		}
	}
}